body {
    margin: 0;
    padding: 0;
    background: #ccc;
}

.content {
    clear: both;
    font-family: 'Oswald', sans-serif;
    background: white;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
    -moz-box-shadow: 0 2px 15px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 15px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.2);
}

.wrapContent {
            width: 700px;
        }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type="number"] {
    width: 4em;
    text-align: right;
    padding: 0.1em;
}
