<?xml version = "1.0" ?>
<Settings>
  <General>
    <RemoteDSTimeout>180</RemoteDSTimeout>
    <InvalidDSAction>0</InvalidDSAction>
    <TSEnabled>1</TSEnabled>
    <TSAddr>api.thingspeak.com</TSAddr>
    <NTPAddr>tik.cesnet.cz</NTPAddr>
  </General>
  <Offsets>
    <SysTempOffset>-0.20</SysTempOffset>
    <PressureOffset>24.00</PressureOffset>
    <MainTempOffset>-1.20</MainTempOffset>
    <RemoteTempOffset>-0.70</RemoteTempOffset>
    <SoilTempOffset>-0.20</SoilTempOffset>
  </Offsets>
  <Net>
    <DHCP>0</DHCP>
    <V>10</V>
    <V>1</V>
    <V>2</V>
    <V>6</V>
    <V>255</V>
    <V>255</V>
    <V>254</V>
    <V>0</V>
    <V>10</V>
    <V>1</V>
    <V>2</V>
    <V>1</V>
    <V>10</V>
    <V>1</V>
    <V>2</V>
    <V>1</V>
  </Net>
</Settings>